body
{
    color:rgb(0, 0, 0);
    background-image: linear-gradient( rgb(248, 188, 243),rgb(166, 240, 151),rgb(204, 165, 248));
}
.heading
{
    width:80%;
    font-size: 22px;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{
    color:black;
}
#camera
{
    border:2px solid black;
    width:350px;
    height:300px;
}